.main {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 20px;
}

.inputContainer {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	flex-wrap: wrap;
}

.input {
	display: inline-block;
	min-width: 100px;
	padding: 8px 0px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: text;
}

.input:focus {
	outline: none;
}

.error {
	color: red;
	margin-top: 5px;
}
