.main {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 20px;
}

.inputContainer {
	position: relative;
	display: flex;
	align-items: center;
	width: 500px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	flex-wrap: wrap;
}
.input {
	display: inline-block;
	min-width: 100px;
	padding: 8px 0px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: text;
}

.chip {
	display: inline-flex;
	align-items: center;
	background-color: #e3e6ed;
	border-radius: 20px;
	padding: 8px 12px;
	margin-right: 8px;
	margin-bottom: 8px;
	font-size: 14px;
}

.chip span {
	margin-right: 8px;
}

.input:focus {
	outline: none;
}

.placeholder {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	pointer-events: none; /* Чтобы клики проходили через placeholder */
}

.error {
	color: red;
	margin-top: 5px;
}
